body{
    background-color: #E5E5EA;
}
.category{
    padding: 0 14px 20px 14px;

    .my__btn{
        margin: 24px 0px;
        margin-left: auto;
    }

    .data{
        background: #FFFFFF;
        padding-top: 6px;
        padding-bottom: 6px;
        box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        width: 100%;
        min-height: 550px;
        margin-bottom: 24px;
        // overflow: hidden;
        .no__category{
            display: flex;
            min-height: inherit;
            height: inherit;
            justify-content: center;
            align-items: center;
            text-align: center;
            p{
                margin-top: 38px;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 22px;
                text-align: center;
                letter-spacing: -0.41px;
                color: #E5E5EA;
            }
        }
        .no_item{
            padding: 10px 10px 10px 120px;
        }
        .isset__category{
            .ant-collapse {
                box-sizing: border-box;
                background-color: inherit;
                border: none;
                border-radius: 0px;
                .ant-collapse-item {
                    border-bottom: 1px solid #E5E5EA;
                    .ant-collapse-header {
                        padding: 20px 45px 20px 60px;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #000000;
                        border: none;
                        background-color: inherit;
                        .header{
                            display: flex;
                            justify-content: space-between;
                            span{
                                position: relative;
                                z-index: 800;
                                display: inline-block;
                                margin-right: 27px;
                                &:hover{
                                    svg{
                                        path,line,rect{
                                            stroke: #FF2D55;
                                        }
                                    }
                                    .dow{
                                        path{
                                            fill: #FF2D55;
                                        }
                                    }
                                    .info{
                                        opacity: 1;
                                        display: inline-block;
                                    }
                                }
                                .info{
                                    position: absolute;
                                    top: -40px;
                                    left: -10px;
                                    width: 140px;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 12px;
                                    padding: 7px 16px;
                                    line-height: 14px;
                                    color: #FFFFFF;
                                    text-transform: initial;
                                    background-color: #16467b;
                                    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
                                    border-radius: 5px;
                                    transition: .55s opacity;
                                    opacity: 0;
                                    display: none;
                                    span{
                                        padding: 0;
                                        margin: 0;
                                        width: 10px;
                                        height: 10px;
                                        position: absolute;
                                        background-color: #16467b;
                                        transform: rotate(45deg);
                                        top: 22px;
                                        left: 15px;
                                    
                                    }
                                }
                            }
                        }
                        .ant-collapse-arrow {
                            display: inline;
                            text-align: right;
                            position: absolute;
                            top: 50%;
                            transform: translate(0px, -50%);
                            right: 35px;
                        }
                    }
                }
            }
            .ant-collapse-content > .ant-collapse-content-box {
                padding: 0px;
            }
            .items{
                display: flex;
                justify-content: space-between;
                padding: 13px 0px 13px 100px;
                &:nth-child(odd){
                    background-color:rgba(239, 239, 244, 0.3);
                }
                &:hover{
                    background-color: rgba(255, 45, 85, 0.05);
                    .icons{
                        display: inline-block;
                    }
                    h4{
                        color: #000000;
                    }
                }
                h4{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 24px;
                    color: #8E8E93;
                    margin-bottom: 0;
                    height: 24px;
                }
                .icons{
                    display: none;
                    span{
                        position: relative;
                        z-index: 800;
                        display: inline-block;
                        margin-right: 8px;
                        margin-left: 10px;
                        &:hover{
                            svg{
                                path,line,rect{
                                    stroke: #FF2D55;
                                }
                            }
                            .dow{
                                path{
                                    fill: #FF2D55;
                                }
                            }
                            .info{
                                opacity: 1;
                                display: inline-block;
                            }
                        }
                        .info{
                            position: absolute;
                            top: -40px;
                            left: -10px;
                            // width: 40px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            padding: 7px 16px;
                            line-height: 14px;
                            color: #FFFFFF;
                            text-transform: initial;
                            background-color: #16467b;
                            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
                            border-radius: 5px;
                            transition: .55s opacity;
                            opacity: 0;
                            display: none;
                            span{
                                padding: 0;
                                margin: 0;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                background-color: #16467b;
                                transform: rotate(45deg);
                                top: 22px;
                                left: 15px;
                            
                            }
                        }
                    }
                }
            }
        }
    }
}